Source: ros-groovy-pcl-msgs
Section: misc
Priority: extra
Maintainer: Julius Kammerl <jkammerl@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-message-generation,ros-groovy-sensor-msgs,ros-groovy-std-msgs,libeigen3-dev,ros-groovy-catkin
Homepage: http://ros.org/wiki/pcl-msgs
Standards-Version: 3.9.2

Package: ros-groovy-pcl-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-sensor-msgs,ros-groovy-message-runtime,ros-groovy-std-msgs
Description: Package containing PCL (Point Cloud Library)-related ROS messages.
